- if instance.errors.full_messages.present?
  .alert.alert-danger
    %a.close(data-dismiss="alert")×
    %ul.list-unstyled
      - instance.errors.full_messages.each do |msg|
        %li
          = msg
